{% extends 'main.html' %}
{% block content %}


{% if user.is_authenticated %}
    {% if appointments %}
         <h3>Your planned appointments:</h3>
         <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Doctor</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
  {% for appointment in appointments %}
    <tr>
      <th scope="row">{{ id }}</th>
      <td>{{ appointment.date }}</td>
      <td>{{ appointment.address.street }} {{ appointment.address.number }} {{ appointment.address.city }}</td>
      <td>{{ appointment.doctor }}</td>
      <td><input type="button" value="Change appointment " onclick="location.href='/edit-appointment/{{ appointment.id }}/'">
          <input type="button" value="Cancle appointment " onclick="location.href='/delete-appointment/{{ appointment.id }}/'"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% endif %}
    <br>
     <input type="button" value="Add appointment " onclick="location.href='/add-appointment/'">
{% endif %}
{% endblock %}