{% extends 'main.html' %}
{% block content %}


{% if user.is_authenticated %}
    {% if doctors %}
         <h3>List of doctors:</h3>
         <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Specialization</th>
      <th scope="col">Doctors</th>
    </tr>
  </thead>

  <tbody>
  {% for specialization in specializations %}
    <tr>
      <th scope="row">{{ specialization.pk }} </th>
        <td>{{ specialization }}</td>
      <td>
      <ul>
        {%  for doctor in specialization.doctor_set.all %}
        <li>{{doctor}}</li>
        {% endfor %}
      </ul>
      </td>
    </tr>

  {% endfor %}
  </tbody>
</table>

    {% endif %}
{% endif %}
{% endblock %}