{% extends 'main.html' %}

{% block content %}


{% if user.is_authenticated %}
    <div class="container p-3 my-3 border">
    <h3>User details:</h3>
    <table>
    <tr><th>Name</th><td>{{ user.first_name  }} {{ user.last_name }}</td></tr>
    <tr><th>Pesel</th><td>{{ user.profil.pesel }}</td></tr>
    <tr><th>Phone</th><td>{{ user.profil.phone }}</td></tr>
    <tr><th>Email</th><td>{{ user.profil.user.email }}</td></tr>
    </table>
    </div>
{% endif %}
<br>
    <div class="container p-3 my-3 border">
    <a href="/update-info/"> Update info </a><br>
    <a href="/change-password/">Change password</a><br>
    </div>
{% endblock %}
